# Ignore configuration files that may contain sensitive information.
.idea
.vagrant
.env
.vscode
venv
vltool.build
config.yml
./vltool

## OS specific mess.
Thumbs.db
.DS_Store

## eclipse
.project
.buildpath
/.settings

## VS Code editor
.history

## NetBeans
nbproject